#TASK 1 : Exploration of Data Visualization Tools like Tableau, Python libraries, D3.js

##1.a) Extent a dataset by list the attributes  in any one of the format (CSV,Excel) .
- Import python libraries whatever needed.
- Read and display the details of the dataset
- Show the dimensionality of data, columns, types and missing values
- Compute statistics on numerical features
- Compute shape of the dataset

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
df = pd.read_csv('/content/sample.csv')
print(df.head())

   S_no   Eno    Name Department
0     1  1001  Akshay    Finance
1     2  1002  Aakash  Economics
2     3  1003    Bala   Networks
3     4  1004    Hari         HR
4     5  1005   Priya  Marketing

In [5]:
#Dimensionality of data, columns, types and missing values
print(df.shape)
print(df.dtypes)
print(df.isnull().sum())

(50, 4)
S_no           int64
Eno            int64
Name          object
Department    object
dtype: object
S_no          0
Eno           0
Name          0
Department    0
dtype: int64

In [6]:
# Compute statistics
print(df.describe())

           S_no         Eno
count  50.00000    50.00000
mean   25.50000  1025.50000
std    14.57738    14.57738
min     1.00000  1001.00000
25%    13.25000  1013.25000
50%    25.50000  1025.50000
75%    37.75000  1037.75000
max    50.00000  1050.00000

##1.b) Consider any one of the dataset 	from kaggle
- Read the dataset and display 5 lines of your dataframe.
- Identify the display the count of null values(missing values) in each columns
- Clean up the blank(null) column and display it
- Identify and remove the duplicate entries from data set